* {
  cursor: default;
  margin: 0;
}

html {
  width: 100%;
}

body {
  font-size: 15pt;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  transition: background-color 800ms linear;  
  user-select: none;
}

/*-----------------------------------*/

.text {
  font-size: 6vmin;
}

.btn {
  display: grid;
  border-radius: 2vmin;
  cursor: pointer;
  pointer-events: all;
  padding: 1vmin 3vmin 1.7vmin 3vmin;
  transition: color 100ms linear, 
              background-color 100ms linear;
  user-select: none;
  line-height: 7vmin;
  font-size: 6vmin;
}

  .btn.clicked {
    background-color: rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.6);
  }

  .btn.sel {
    border: 2px solid rgba(0,0,0,0.4);
  }

  .btn.disabled {
    color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.2);
  }

  .btn.disabled polygon {
    fill: rgba(0,0,0,0.4);
  }

  .btn svg {
    pointer-events: none;
    width: 7vmin;
    height: 7vmin;
  }

  .btn polygon, {
    cursor: pointer;
    fill: rgba(0,0,0,0.4);
  }

/*-----------------------------------*/

.dialog {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  justify-items: center;
  align-items: center;
}

/*-----------------------------------*/

.dia-main {
  grid-template-rows: auto 35vmin;
}

  .dia-main .wrapper  {
    grid-auto-flow: column;
    display: grid;
    justify-self: stretch;
    align-self: stretch;
    justify-items: center;
    align-items: center;
  }

  .btn-word .word-wrapper {
    pointer-events: none;
    margin-bottom: 7px;
  }

  .btn-word .word {
    font-size: 10vmin;
    word-wrap:break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .btn-word .intro {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 6vmin;
  }

/*-----------------------------------*/

.btn-timer {
  border-radius: 8vmin;
  padding: 1vmin 1vmin 1vmin 1vmin;
  transition: padding 100ms ease-in, 
              background-color 100ms ease-in,
              border-radius 100ms ease-in,
              width 100ms ease-in,
              height 100ms ease-in;
  width: 12vmin;
  height: 12vmin;
}

  .btn-timer svg {
    display: block;
    place-self: center;
    width: 12vmin;
    height: 12vmin;
  }

  .btn-timer .lbl-timer {
    place-self: center;
    font-family: Rubik;
    font-size: 9vmin;
    display: none;
  }

  .btn-timer .lbl-timer.blink {
    animation: blink 0.5s linear 5;
  }

  @keyframes blink {
    30% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
  }

  .btn-timer.on {
    background-color: #fd7d87;
    width: 17vmin;
    height: 17vmin;
    border-radius: 17vmin;
  }

  .btn-timer.on svg {
    display: none;
  }

  .btn-timer.on .lbl-timer {
    display: block;
  }

/*-----------------------------------*/
.dia-level {
  grid-template-rows: auto 20vmin 20vmin 20vmin auto;
}

.dia-help {
  grid-template-rows: auto auto 20vmin auto;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0%   {display: grid; opacity: 1;}
  100% {display: none; opacity: 0;}
}

@keyframes fade-in {
  0%   {display: grid; opacity: 0;}
  100% {display: grid; opacity: 1;}
}

.hide {
  display: none;
}
